projects/**/*/ng-package.json
projects/**/*/tsconfig.lib.json
projects/**/*/tsconfig.lib..prod.json
projects/**/*/tsconfig.lib.spec.json
config/*
coverage/*
doc/*
package.json
package-lock.json
yarn.lock
dist
.eslintrc.js
.eslintignore
.babelrc
/**/*/README.md
README.md
demo-angularjs/*
demo-angular5/*
mocks/*
@orange-api-sdks/*
@api-swagger-specs/*
